.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #114d79;
    border: none;
    margin-bottom: 10px;
  }
  
  .patient-details {
    margin-top: 20px;
  }
  
  .turno-details {
    margin-top: 10px;
  }
  
  .turno-details button {
    background-color: #114d79;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .turno-details button:hover {
    background-color: #0056b3;
  }
  