<div class="container">

    <div *ngIf="!seleccionadoEspecialista">
        <h3>Seleccionar Profesional</h3>
        <div class="profesionales">
            <button *ngFor="let especialista of especialistas" (click)="onEspecialistaSelect(especialista)"
            [disabled]="!especialista.activo" [ngClass]="{'inactive': !especialista.activo}">
                <img [src]="especialista.fotoPerfil || '../../../assets/especialista.svg'" 
                [ngClass]="{'inactive': !especialista.activo}" alt="Imagen Profesional" style="background-color: #114d79;">
                <p *ngIf="especialista.activo">{{ especialista.nombre }} {{ especialista.apellido }}</p>
                <p *ngIf="!especialista.activo">{{ especialista.nombre }} {{ especialista.apellido }} (inactivo)</p>
            </button>
        </div>
    </div>

    <div *ngIf="seleccionadoEspecialista">
        <h3>Su selección:</h3>
        <div class="profesionales">
            <button (click)="deseleccionarEspecialista()">
                <img [src]="seleccionadoEspecialista.fotoPerfil || '../../../assets/especialista.svg'" 
                [alt]="'Dr. '+seleccionadoEspecialista.apellido" style="background-color: #114d79;">
                <p>{{ seleccionadoEspecialista.nombre }} {{ seleccionadoEspecialista.apellido }}</p>
            </button>
            <button *ngIf="seleccionadaEspecialidad"
            (click)="deseleccionarEspecialidad()">
                <img src="../../../assets/especialista.svg" [alt]="seleccionadaEspecialidad" 
                style="background-color: #114d79;">
                <p>{{ seleccionadaEspecialidad }}<p>
            </button>
            <button *ngIf="fechaSelected && horaSelected" (click)="deseleccionarTurno()">
                <p>{{ fechaSelected }} {{ horaSelected }}</p>
            </button>
            <button *ngIf="seleccionadoPaciente && userService.personaLogeada.rol == 'Admin'" (click)="deseleccionarPaciente()">
                <img [src]="seleccionadoPaciente.fotoPerfil || '../../../assets/paciente.svg'" 
                [alt]="'Paciente '+seleccionadoPaciente.apellido" style="background-color: #114d79;">
                <p>{{ seleccionadoPaciente.nombre }} {{ seleccionadoPaciente.apellido }}</p>
            </button>
        </div>
    </div>

    <div *ngIf="seleccionadoEspecialista && !seleccionadaEspecialidad">
        <h3>Seleccionar Especialidad</h3>
        <div class="especialidades">
            <div *ngFor="let especialidad of especialidades" class="especialidad-container">
                <p>{{ especialidad }}</p>
                <button (click)="onEspecialidadSelect(especialidad)">
                    <img src="../../../assets/especialista.svg" [alt]="especialidad" style="background-color: #114d79;">
                </button>
            </div>
        </div>
    </div>
    

    <div *ngIf="seleccionadoEspecialista && seleccionadaEspecialidad && horaSelected == '' && fechaSelected == ''">
        <h3 *ngIf="horariosDisponibles.length==0">Este profesional no cuenta con turnos disponibles en la especialidad seleccionada.</h3>
        <h3 *ngIf="horariosDisponibles.length!=0">Seleccionar Fecha y Hora</h3>
        <div class="horarios">
            <button *ngFor="let horario of horariosDisponibles" (click)="onFechaSelect(horario.fecha, horario.hora)">
                <p>{{ horario.fecha + ' ' + horario.hora | formatearFechaConsigna }}</p>
            </button>
           
        </div>
    </div>

    <div *ngIf="seleccionadoEspecialista && seleccionadaEspecialidad && horaSelected && fechaSelected && userService.personaLogeada.rol == 'Admin' && !seleccionadoPaciente">
        <h3>Seleccionar Paciente</h3>
        <div class="profesionales">
            <button *ngFor="let paciente of pacientes" (click)="onPacienteSelect(paciente)"
            [disabled]="!paciente.activo" [ngClass]="{'inactive': !paciente.activo}">
                <img [src]="paciente.fotoPerfil || '../../../assets/especialista.svg'" 
                [ngClass]="{'inactive': !paciente.activo}" alt="Imagen Profesional" style="background-color: #114d79;">
                <p *ngIf="paciente.activo">{{ paciente.nombre }} {{ paciente.apellido }}</p>
                <p *ngIf="!paciente.activo">{{ paciente.nombre }} {{ paciente.apellido }} (inactivo)</p>
            </button>
        </div>
    </div>

    <div>
        <button *ngIf="horaSelected && fechaSelected" (click)="onSubmit()" class="btn btn-primary">Confirmar Turno</button>
    </div>
</div>