<div class="container">


    <div *ngIf="!seleccionadoEspecialista">
        <h3>Seleccionar Profesional</h3>
        <div class="profesionales">
            <button *ngFor="let especialista of especialistas" (click)="onEspecialistaSelect(especialista)"
            [disabled]="!especialista.activo" [ngClass]="{'inactive': !especialista.activo}">
                <img [src]="especialista.fotoPerfil || '../../../assets/especialista.svg'" 
                [ngClass]="{'inactive': !especialista.activo}" alt="Imagen Profesional" style="background-color: #114d79;">
                <p *ngIf="especialista.activo">{{ especialista.nombre }} {{ especialista.apellido }}</p>
                <p *ngIf="!especialista.activo">{{ especialista.nombre }} {{ especialista.apellido }} (inactivo)</p>
            </button>
        </div>
    </div>

    <div *ngIf="seleccionadoEspecialista">
        <h3>Su selección:</h3>
        <div class="profesionales">
            <button (click)="deseleccionarEspecialista()">
                <img [src]="seleccionadoEspecialista.fotoPerfil || '../../../assets/especialista.svg'" 
                [alt]="'Dr. '+seleccionadoEspecialista.apellido" style="background-color: #114d79;">
                <p>{{ seleccionadoEspecialista.nombre }} {{ seleccionadoEspecialista.apellido }}</p>
            </button>
            <button *ngIf="seleccionadaEspecialidad"
            (click)="deseleccionarEspecialidad()">
                <img src="../../../assets/especialista.svg" [alt]="seleccionadaEspecialidad" 
                style="background-color: #114d79;">
                <p>{{ seleccionadaEspecialidad }}<p>
            </button>
        </div>
    </div>

    <div *ngIf="seleccionadoEspecialista && !seleccionadaEspecialidad">
        <h3>Seleccionar Especialidad</h3>
        <div class="especialidades">
            <button *ngFor="let especialidad of especialidades" (click)="onEspecialidadSelect(especialidad)">
                <img src="../../../assets/especialista.svg" [alt]="especialidad"
                style="background-color: #114d79;">
                <p>{{ especialidad }}</p>
            </button>
        </div>
    </div>

    <div *ngIf="seleccionadoEspecialista && seleccionadaEspecialidad">
        <h3>Seleccionar Fecha y Hora</h3>
        <div class="horarios">
            <button *ngFor="let horario of horariosDisponibles" (click)="onFechaSelect(horario.fecha, horario.hora)">
                <p>{{ horario.fecha }} {{ horario.hora }}</p>
            </button>
        </div>
        <button (click)="onSubmit()" class="btn btn-primary">Solicitar Turno</button>
    </div>
</div>

<!-- BORRADOR - REVISAR -->