<div class="container">
    <h2>Mis Turnos</h2>

    <div *ngIf="!especialistaSeleccionado" class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por especialidad o especialista" onchange="filtrarTurnos()" [(ngModel)]="filtro" (ngModelChange)="filtrarTurnos($event)">
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Especialista</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnosFiltrados">
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.especialistaNombre }}</td>
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.hora }}</td>
          <td>{{ turno.estado }}</td>
          <td>
            <button *ngIf="puedeCalificar(turno)" (click)="calificarAtencion(turno)" class="btn btn-success btn-sm btnTurno">Calificar Atención</button>
            <button *ngIf="puedeCompletarEncuesta(turno)" (click)="completarEncuesta(turno)" class="btn btn-info btn-sm btnTurno">Completar Encuesta</button>
            <button *ngIf="puedeVerComentario(turno)" (click)="verComentario(turno)" class="btn btn-primary btn-sm btnTurno">Ver Comentario</button>
            <button *ngIf="puedeVerResenia(turno)" (click)="verResenia(turno)" class="btn btn-primary btn-sm btnTurno">Ver Reseña</button>
            <button *ngIf="puedeCancelar(turno)" (click)="cancelarTurno(turno)" class="btn btn-danger btn-sm btnTurno">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="especialistaSeleccionado" class="container-fluid d-flex justify-content-center align-items-center full-width">
      <button *ngIf="!historialEspecialistaToggle" (click)="verHistoriaClinica(especialistaSeleccionado.nroDocumento)" class="btn btn-primary btn-sm btnTurno mx-1 mb-3">Ver Historial clínico</button>
      <button *ngIf="historialEspecialistaToggle" (click)="toggleHistorialEspecialista()" type="button" class="btn btn-primary btn-sm btnTurno mx-1 mb-3">Ocultar</button>
      <button *ngIf="userService.personaLogeada.rol == 'Paciente'" (click)="descargarHistorialTurnosExcel()" type="button" class="btn btn-primary btn-sm btnTurno mx-1 mb-3">Descargar historial de turnos con este especialista</button>
    </div>
  </div>

  <div *ngIf="historialEspecialistaToggle">
    <app-historias-clinicas [especialistaId]="especialistaId"></app-historias-clinicas>
  </div>

  <div *ngIf="mostrarHistoriasClinicas">
    <app-historias-clinicas [historiasClinicas]="historiasClinicasFiltradas"></app-historias-clinicas>
  </div>
