<div class="container text-center">
  <h1 class="my-4">Bienvenido</h1>
  <div class="mt-4">
    
    @if(authService.currentUserSig() == null)
    {
      <button routerLink="/login" class="mx-1 btn btn-primary mr-2">Iniciar Sesión</button>
    }

    @if(authService.currentUserSig() == null || userService.personaLogeada.rol == 'Admin')
    {
      <button routerLink="/registrar" class="mx-1 btn btn-secondary">Registro</button>
    }
    @else {
      <button routerLink="/turnos" class="mx-1 btn btn-secondary">Turnos</button>
    }
    @if(authService.currentUserSig() != null)
    {

    }
  </div>
  <!-- <img class="my-4" src="../../../assets/img/logo.png" width="200" height="200" alt="test"> -->
</div>