<!-- BETA -->

<div *ngIf="historiasClinicas.length > 0">
    <h2>Historias Clínicas</h2>
    <div *ngFor="let historia of historiasClinicas">
      <h3>Turno del {{ historia.fechaTurno }}</h3>
      <p>Altura: {{ historia.altura }}</p>
      <p>Peso: {{ historia.peso }}</p>
      <p>Temperatura: {{ historia.temperatura }}</p>
      <p>Presión: {{ historia.presion }}</p>
      <div *ngIf="historia.datoDinamicoUno">
        <p>{{ historia.datoDinamicoUno.clave }}: {{ historia.datoDinamicoUno.valor }}</p>
      </div>
      <div *ngIf="historia.datoDinamicoDos">
        <p>{{ historia.datoDinamicoDos.clave }}: {{ historia.datoDinamicoDos.valor }}</p>
      </div>
      <div *ngIf="historia.datoDinamicoTres">
        <p>{{ historia.datoDinamicoTres.clave }}: {{ historia.datoDinamicoTres.valor }}</p>
      </div>
    </div>
  </div>

  <!-- BETA -->