<div class="main">

  <div>
    <nav
    class="navbar navbar-expand-sm navbar-dark"
    style="background-color: #114d79;">
    <div class="container-fluid">
      
      <a class="navbar-brand" role="button" (click)="buttonHome()">
        <img src="../favicon.ico" alt="logo" >
        Clínica Online
      </a>
        
        <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          
          @if(authService.currentUserSig() != null)
          {
            
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="buttonPerfil()">Mi perfil</a>
            </li>
            
          }
          @if(authService.currentUserSig() == null || (userService.personaLogeada.rol) === 'Admin')
          {
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="buttonRegistrar()">Registro</a>
            </li>
          }
          
          
          
          @if(authService.currentUserSig() != null)
          {
            
            <li class="nav-item">
              <a class="nav-link" role="button" (click)="buttonTurnos()">Turnos</a>
            </li>
            
            @if((userService.personaLogeada) && (userService.personaLogeada.rol) === 'Admin')
            {
              <li class="nav-item">
                <a class="nav-link" role="button" (click)="buttonAdministrarUsuarios()">Administrar usuarios</a>
              </li>
            }
            
            <li>
              <a class="nav-link disabled ">{{usuario}}</a>
            </li>
            
            <li>
              <a class="nav-link" role="button" (click)="buttonLogOut()">Cerrar Sesión</a>
            </li>
          }
          
          @if(authService.currentUserSig() == null)
          {
            <li>
              <a class="nav-link" role="button" (click)="buttonLogin()">Iniciar Sesión</a>
            </li>
          }          
        </ul>
      </div>
    </div>
  </nav>
  </div>

  <div class="pb-5 mainComponent container">
    <router-outlet></router-outlet>
  </div>

  <div class="container footer">
    <footer class="pt-3 my-4 border-top sticky-footer">
      Joel Mahafud &copy; 2024
    </footer>
  </div>
</div>