<div class="container">
  <h2>Turnos Activos</h2>
  
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por especialidad, especialista o paciente" [(ngModel)]="filtro" (ngModelChange)="filtrarTurnos($event)">
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Especialista</th>
          <th>Paciente</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnosFiltrados">
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.especialistaNombre }}</td>
          <td>{{ turno.pacienteNombre }}</td>
          <td>{{ turno.fecha  }}</td>
          <td>{{ turno.hora }}</td>
          <td>{{ turno.estado }}</td>
          <td>
            <button *ngIf="puedeCancelar(turno)" (click)="cancelarTurno(turno)" class="btn btn-danger btn-sm">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>