<div class="container">
  <h2>Administrar Usuarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      <div *ngIf="especialistas$ | async as especialistas">
        <tr *ngFor="let usuario of especialistas">
          <td>{{ usuario.nombre }}</td> 
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.mail }}</td>
          <td>{{ usuario.rol }}</td>
          <td>
            <button *ngIf="!usuario.activo" (click)="activarUsuario(usuario)" class="btn btn-success">Habilitar</button>
            <button *ngIf="usuario.activo" (click)="desactivarUsuario(usuario)" class="btn btn-danger">Deshabilitar</button>
          </td>
        </tr>
      </div>

      <div *ngIf="pacientes$ | async as pacientes">
        <tr *ngFor="let usuario of pacientes">
          <td>{{ usuario.nombre }}</td> 
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.mail }}</td>
          <td>{{ usuario.rol }}</td>
          <td>
            <button *ngIf="!usuario.activo" (click)="activarUsuario(usuario)" class="btn btn-success">Habilitar</button>
            <button *ngIf="usuario.activo" (click)="desactivarUsuario(usuario)" class="btn btn-danger">Deshabilitar</button>
          </td>
        </tr>
      </div>     
      
    </tbody>
  </table>
</div>