<div *ngIf="!toogleHistoriaClinica" class="container">
  <h2>Administrar Usuarios</h2>
  <table class="table" >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo doc</th>
        <th>Numero doc</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Habilitado</th>
      </tr>
    </thead>
    <tbody>
      @if (especialistas) {
        @for (especialista of especialistas; track especialista) {
          <tr>
            <td>{{ especialista.nombre }}</td>
            <td>{{ especialista.apellido }}</td>
            <td>{{ especialista.tipoDoc }}</td>
            <td>{{ especialista.nroDocumento }}</td>
            <td>{{ especialista.mail }}</td>
            <td>{{ especialista.rol }}</td>
            <td>
              <mat-slide-toggle
                [checked]="especialista.activo"
                (change)="toggleUsuarioActivo(especialista, $event.checked)">
              </mat-slide-toggle>
            </td>
          </tr>
        }
      }

      @if (pacientes) {
        @for (paciente of pacientes; track paciente) {
          <tr>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.tipoDoc }}</td>
            <td>{{ paciente.nroDocumento }}</td>
            <td>{{ paciente.mail }}</td>
            <td>{{ paciente.rol }}</td>
            <td>
              <mat-slide-toggle
                [checked]="paciente.activo"
                (change)="toggleUsuarioActivo(paciente, $event.checked)">
              </mat-slide-toggle>
            </td>
          </tr>
        }
      }      
    </tbody>
  </table>
</div>
<div *ngIf="toogleHistoriaClinica">
  <div class="container-fluid d-flex justify-content-center align-items-center full-width">
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 mb-3" (click)="toggleHistoriasClinicas()">Volver</button>
    </div>
  </div>
  <app-historias-clinicas [pacienteId]="idPacienteSeleccionado"></app-historias-clinicas>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center full-width">
  <button (click)="descargarDatosusuariosExcel()" type="button" class="btn btn-primary btn-sm btnTurno mx-1 mb-3">Descargar datos de todos los usuarios</button>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center full-width">
  <app-mis-pacientes></app-mis-pacientes>
</div>