<div *ngIf="!historiaClinicaToogle" class="container">
    <h2>Mis Turnos</h2>

    <div *ngIf="!pacienteSeleccionado" class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por especialidad o paciente" onchange="filtrarTurnos()" [(ngModel)]="filtro" (ngModelChange)="filtrarTurnos($event)">
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Paciente</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnosFiltrados">
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.pacienteNombre }}</td>
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.hora }}</td>
          <td>{{ turno.estado }}</td>
          <td>
            <button *ngIf="puedeAceptar(turno)" (click)="aceptarTurno(turno)" class="btn btn-success btn-sm btnTurno">Aceptar</button>
            <button *ngIf="puedeRechazar(turno)" (click)="rechazarTurno(turno)" class="btn btn-warning btn-sm btnTurno">Rechazar</button>
            <button *ngIf="puedeFinalizar(turno)" (click)="finalizarTurno(turno)" class="btn btn-primary btn-sm btnTurno">Finalizar</button>
            <button *ngIf="puedeVerResenia(turno)" (click)="verResenia(turno)" class="btn btn-primary btn-sm btnTurno">Ver Reseña</button>
            <button *ngIf="puedeVerComentario(turno)" (click)="verComentario(turno)" class="btn btn-primary btn-sm btnTurno">Ver Motivo</button>
            <button *ngIf="puedeCancelar(turno)" (click)="cancelarTurno(turno)" class="btn btn-danger btn-sm btnTurno">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="pacienteSeleccionado" class="container-fluid d-flex justify-content-center align-items-center full-width">
      <button *ngIf="!historialPacienteToggle" (click)="verHistoriaClinica(pacienteSeleccionado.nroDocumento)" class="btn btn-primary btn-sm btnTurno">Ver Historial</button>
      <button *ngIf="historialPacienteToggle" (click)="toggleHistorialPaciente()" type="button" class="btn btn-primary btn-sm btnTurno">Ocultar</button>
    </div>
  </div>

  <div *ngIf="historiaClinicaToogle">
    <app-form-historia-clinica *ngIf="turnoAux" [turno]="turnoAux" (historiaClinicaGuardada)="guardarHistoriaClinica($event)"></app-form-historia-clinica>
  </div>

  <div *ngIf="historialPacienteToggle">
    <app-historias-clinicas [pacienteId]="pacienteId"></app-historias-clinicas>
  </div>

  <div *ngIf="mostrarHistoriasClinicas">
    <app-historias-clinicas [historiasClinicas]="historiasClinicasFiltradas"></app-historias-clinicas>
  </div>
