<div class="container">
  <div class="row">
    <h2 class="">Gestión de Turnos</h2>
    <button *ngIf="!agregarTurno && (rol === 'Paciente' || rol === 'Admin')" mat-fab color="primary" class="fab-button" (click)="buttonAgregarTurno()">
      <mat-icon _ngcontent-ng-c378891224="" role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">add</mat-icon>
    </button>
    <button *ngIf="agregarTurno && (rol === 'Paciente' || rol === 'Admin')" mat-fab color="secondary" class="cancelButton fab-button" (click)="buttonAgregarTurno()">
      <mat-icon _ngcontent-ng-c378891224="" role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">close</mat-icon>
    </button>
  </div>
</div>
<ng-container *ngIf="rol === 'Paciente'">
  <app-turnos-paciente></app-turnos-paciente>
</ng-container>
<ng-container *ngIf="rol === 'Especialista'">
  <app-turnos-especialista></app-turnos-especialista>
</ng-container>
<ng-container *ngIf="rol === 'Admin'">
  <app-turnos-admin></app-turnos-admin>
</ng-container>

<ng-container *ngIf="agregarTurno">
  <app-solicitar-turno></app-solicitar-turno>
</ng-container>

<!-- /* BORRADOR - REVISAR */ -->